#parse("/velocity/layout.vm")
#@mainLayout()
<div class="row row-3">
    ESTO ES INDEX
    <div>
        <input type="file"
               id="avatar" name="avatar"
               accept=".txt">
    </div>

</div>
#end